*:focus {
    outline: 1px solid transparent;
}

.visual-container {
    margin: 5px 5px 0 5px;
}

.input-field {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background: transparent;

    border: none;
    width: 100%;
}

.input-button {
    border: none;
    background: transparent;
    font-size: inherit;
    padding: 0 5px;
    width: fit-content;
    text-align: center;
}

.input-button:hover {
    background: #eaeaea;
}

.input-button:active {
    background: #d1d1d1;
}

.input-container {
    border: 1px solid #eaeaea;
    display: flex;
    width: 100%;
}

.target-container {
    margin: 2px 0 0 0 ;
    display: flex;
    gap: 2px;
}

.target-button {
    font-family: inherit;
    color: #1d1d1b;
    padding: 3px 9px;
    font-size: 0.9em;  
    border: none;

    background: #eeeeee;
}

.target-button:hover {
    background: #d1d1d1;
}

.target-button__active {
    background: #bbbbbb;
}