*:focus {
    outline: 1px solid transparent;
}

.visual-container {
    margin: 5px 5px 0 5px;
    width: var(--visualWidth);
    height: var(--visualHeight);
    font-family: var(--primaryFontFamily);
    color: var(--inputFieldFontColor);
    font-size: var(--fontSize);
}

.input-container {
    border-style: solid;
    display: flex;
    width: 100%;
    align-items: stretch;
}

.input-field {
    font-family: inherit;
    color: var(--inputFieldFontColor);
    font-size: inherit;
    background: transparent;
    border: none;
    width: 100%;
}

.input-button {
    display: block;
    /* box-sizing: border-box; */
    width: 100%;
    margin: -0.5px 0 0 0;

    border: 0px;
    background: transparent;
    font-size: inherit;
    padding: 0 5px;
    width: fit-content;
    text-align: center;
}

.input-button:hover {
    background: #eaeaea;
}

.input-button:active {
    background: #d1d1d1;
}

.target-container {
    margin: 2px 0 0 0 ;
    display: flex;
    gap: 2px;
}

.target-button {
    font-family: inherit;
    padding: 3px 9px;
    font-size: 0.9em;  
    border: none;
    background: var(--testColVar1);
}

.target-button:hover {
    background: var(--testColVar2);
}

.target-button__active {
    background: #bbbbbb;
}

::placeholder {
    color: var(--placeholderFontColor);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    color: var(--placeholderFontColor);
}

::-ms-input-placeholder {
    color: var(--placeholderFontColor);
}